# Example environment file for deployment/secrets
# Copy this file to `.env` and fill in your real secrets locally.
# Never commit your real `.env` file!

BASE_MAINNET_RPC_URL=https://mainnet.base.org
ETHEREUM_MAINNET_RPC_URL=https://base-mainnet.infura.io/v3/24d32a640d3d4d399b20f334d8f1ff0d
RELAYER_PRIVATE_KEY=bundler_3ZbqoZN25hq5gsWddnFLgvEA
